* { 
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.Calculator.Frame { 
    background-color: silver;
    height: 90vh; width: 50vw; border-radius: 25%; 
}

.Buttons_Parent {
    display: flex; flex: 1 1 auto; 
}

.Calculator.Display { 
    background-color: greenyellow; position: absolute; opacity: 25%;
    width: 35vw; height: 10vh; border-radius: 20px; margin-top: 7vh; margin-left: 5vw;
}

.Buttons.Blue {
    background-color: cornflowerblue;
    border-radius: 25%; margin-top: 20vh;
    justify-content: center; align-items: center;

}


.Buttons.White.Parent { 
  
    background-color: transparent; 

}

.Buttons.White { 
  background-color: white; color: black;
   padding: 2.5%; 
  gap: 1%; border-radius: 25%; 
}

.Buttons.Orange.Parent {
    background-color: transparent;
}

.Buttons.Orange {
  background-color: orange; color: black; 
  gap: 1%; border-radius: 25%; padding: 2%;
}